.profile-wrapper {
    width: 87%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 1.5px solid #D1D7DC;
    height: 550px;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;

    align-self: flex-start;

    &-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__img {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 150px;
            width: 150px;

            img {
                width: 90%;
                height: 90%;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        &__username {
            font-size: 1rem;
            font-weight: 600;
            margin: 20px 0px;
        }

    }

    &-bottom {

        &__nav {
            list-style: none;

            &_item {
                font-size: 1rem;
                font-weight: 400;
                cursor: pointer;

                &:hover {
                    background-color: #6a6f73;
                    color: #fff;
                }

                .link {
                    text-decoration: none;
                    color: black;
                    display: block;
                    padding: 2px 15px;

                    &:hover {
                        color: #fff;
                    }

                }

                // .active {
                //     background-color: #6a6f73;
                //     color: #fff;
                // }

            }
        }
    }

}

.right {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-left: 1.5px solid #D1D7DC;
    height: 100%;

    &-top {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-bottom: 1.5px solid #D1D7DC;
        text-align: center;


        &__title {
            font-size: 22px;
            font-weight: 600;
        }

        &__span {
            font-size: 15px;
            font-weight: 400;
        }
    }

    &-center {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1.5px solid #D1D7DC;
        padding: 20px 0px;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 70%;

            label {
                align-self: start;
                font-size: 13px;
                font-weight: 700;
                margin-bottom: 7px;
            }

            input {
                width: 100%;
                margin-bottom: 20px;
                padding: 10px;
                font-size: 16px;
                font-weight: 400;

                &:focus {
                    outline: none;
                }
            }

        }
    }

    &-bottom {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;


        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 70%;

            label {
                align-self: start;
                font-size: 13px;
                font-weight: 700;
                margin-bottom: 7px;
            }

            input {
                width: 100%;
                margin-bottom: 20px;
                padding: 10px;
                font-size: 16px;
                font-weight: 400;

                &:focus {
                    outline: none;
                }
            }

            button {
                padding: 10px 15px;
                background-color: rgb(69, 141, 186);
                font-size: 14px;
                font-weight: 600;
                color: #fff;
                border: none;
                cursor: pointer;
                transition: all .2s ease-in;

                &:hover {
                    background-color: rgb(41, 96, 131);
                    transition: all .2s ease-in;
                }
            }
        }
    }
}

@media (min-width: 400px) and (max-width: 800px) {
    .profile-wrapper {
        flex-direction: column;

        .left {
            width: 100%;
        }
    }
}