.header-container {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
    position: sticky;
    top: 0;
    z-index: 999;

    .wrapper {
        width: 90%;
        height: 80px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;

        .logo-container {
            background-color: rgb(236, 233, 233);
            border-radius: 50%;

            &__image {
                color: lightskyblue;
                font-weight: 400;
                line-height: 35px;
            }
        }

        .abbr {
            font-size: 1.5rem;
            font-weight: 400;
            color: #C9D2D8;
        }

        .navbar {
            display: flex;
            justify-content: center;
            align-items: center;

            .icon-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;
                width: 30px;
                margin: 0 10px;
                border-radius: 50%;
                color: lightskyblue;
                cursor: pointer;
                position: relative;

                &__notification {
                    position: absolute;
                    top: 7px;
                    right: 5px;
                    height: 12px;
                    width: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    border-radius: 50%;
                    background-color: rgb(192, 178, 115);
                    color: #fff;
                    position: absolute;
                    font-size: .45rem;
                }

                &:not(:nth-child(1)) {
                    background-color: rgb(236, 233, 233);
                }

                &:first-child {
                    font-size: 1.5rem;
                    fill: red;
                }

                &:last-child {
                    color: red;
                    margin-right: 0px;

                }
            }

            .user {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 40px 0 0;

                &-image {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right: 10px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;

                    }
                }

                &-info {
                    &__name {
                        font-size: 1rem;
                        font-weight: 400;
                    }

                    &__profile {
                        font-size: .7rem;
                        font-weight: 600;
                        text-decoration: none;
                        color: lightskyblue;
                    }
                }


            }
        }
    }
}

@media only screen and (min-width: 360px) and (max-width: 700px) {
    .header-container {
        .wrapper {
            justify-content: center;

            .logo-container {
                display: none;
            }

            .abbr {
                display: none;
            }

            .navbar {
                .user {
                    &-info {
                        &__name {
                            font-size: .7rem;
                        }

                        &__profile {
                            font-size: .6rem;
                        }
                    }

                }
            }
        }
    }

}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
    .header-container {

        .wrapper {

            .abbr {
                font-size: .8rem;
            }

            .navbar {

                .user {

                    &-info {
                        &__name {
                            font-size: .7rem;
                        }

                        &__profile {
                            font-size: .6rem;
                        }
                    }
                }
            }
        }
    }

}